.greeting {
    margin-top: 10vw;
}

.message {
    margin: 30px;
    font-size: 20px;
    text-align: center;
}

.message-emoji {
    animation: bounce 2.5s 1;
    display: inline-block;
}

.greeting-emoji {
    animation: wave 3s 2.5s infinite;
    transform-origin: 80% 90%;
    display: inline-block;
    font-weight: normal;
}

@keyframes wave {
    0% {
        transform: rotate(0.0deg, 0)
    }

    5% {
        transform: rotate(14.0deg)
    }

    10% {
        transform: rotate(-8.0deg)
    }

    15% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-4.0deg)
    }

    25% {
        transform: rotate(10.0deg)
    }

    30% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(-200px);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-40px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}