.main {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
}

.main__title {
    margin: 20px 0;

}

.description {
    color: #736B6B;
    max-width: 80%;
    line-height: 1.3;
    margin-bottom: 25px;
}

@media (max-width: 769px) {
    .main {
        width: 100%;
        padding: 15px;
    }

    .description {
        margin-bottom: 10px;
        max-width: 100%;

    }
}