.avatar {
	overflow: hidden;

	&_rounded {
		border-radius: 50%;
	}
	
	&__img {
		aspect-ratio: 1/1;
		max-width: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
        height: auto;
		margin-bottom: 20px;
	}
}