* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


:focus,
:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button,
a {
    cursor: pointer;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #e6e6e6;
    padding: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    width: 100px;
    margin: 20px auto;
}